

.HeroContainer{
    background-size: cover;
    background-color: blue;
    display:flex;
    height:100vh;
    width:100vw;
    align-self: center;
    
    
   
    
}

.Herobg{
    background-image: url("../Assets/Landing.png");
    position: absolute;
    
background-repeat:no-repeat;
background-size:contain;
background-position:center;
width:100%;
height:100%;
overflow:hidden;
}

.spacer{
    display: flex;
    align-items: center;
    height: 8vw;
}
