.whyccsContainer{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #222132;
    background-image: url("../Assets/abstractWallpaper.png");
}

.whyccsSection {
    width: 80%;
    margin: 0px auto;
}

.mainHeading {
    color: white;
    font-size: 3.5vw;
    font-family: "Montserrat";
    font-weight: 600;
}


.whyccsItem {
    display: flex;
    align-items: center;
}
.spacer{
    display: flex;
    align-items: center;
    height: 8vw;
}

.heading {
    color: white;
    text-transform: uppercase;
    font-size: 2.5vw;
    font-family: Montserrat;
    margin-bottom: 20px;
}

.content {
    color: white;
    font-family: 'Segoe UI';
    font-size: 2vw;
}

.whyccsImage {
    height: 17vw;
    margin: 25px;
}

.whyccsItem:nth-child(odd) {
    text-align: left;
}

.whyccsItem:nth-child(even) {
    text-align: right;
}