.leftContainer {
  height: 70vh;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #fff;
}

.leftContainer form {
  height: 80%;
}

.leftContainer form h3 {
  text-align: center;
}

.inside {
  padding: 0.5rem;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  /* padding: 3px 3px; */
  margin: -2px 0;
  box-sizing: border-box;
  width: 100%;
  padding: 9px 9px;
  border: 2px solid rgba(82, 77, 77, 0.095);
  border-radius: 3px;
  background-color: #fff;
  color: #dff6ff;
}

input::placeholder {
  color: #000;
}

.button {
  display: flex;
  gap: 2rem;
  background-color: #9ae0fb; /* Green */
  border: none;
  color: #000000;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 95%;
  font-family: "Montserrat";
  margin: auto;
  margin-top: 20px;
  transition: 0.2s;
}
.button:hover {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}

.button p {
  display: inline;
}

.button div {
  display: inline;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  width: auto;
}
