.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  background-color: rgba(85, 198, 191, 0.871);
  max-width: 200rem;
  height: 70vh;
  margin: 0 auto;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
}

@media (max-width: 767px) {
  .mainContainer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
