/* 
:root {
  
  --shadow-dimension: 20px;
  --blue: #0039a6;
}
.boxcontainer {
    position: relative;
    width: 20rem;
    margin: 10vh auto;
 }
.boxcontainer>div {
    border: 2px solid var(--blue);
    padding: 1rem 2rem;
}
.boxcontainer>div:after, .boxcontainer>div:before {
    content: '';
    background-color: var(--blue);
    position: absolute;
}
.boxcontainer>div:before {
    width: calc(var(--shadow-dimension) + 1px);
    height: calc(100% +  100px + 1px);
    left: calc(var(--shadow-dimension) * -1);
    transform: skewy(-45deg);
    top: calc(0.5*var(--shadow-dimension));
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 100px - 2px + var(--shadow-dimension)), 0% calc(100% - 100px - 2px));
}
.boxcontainer>div:after {
    width: calc(100% + 100px);
    height: calc(var(--shadow-dimension) + 1px);
    left: calc(-0.5*var(--shadow-dimension) - 100px);
    bottom: 1px;
    transform: translateY(100%) skewx(-45deg);
    clip-path: polygon(100px 0%, 100% 0%, 100% 100%, calc(100px + 1px) 100%);
} */
